<div class="headerContainer">

  <div class="headerContainer__logos">

    <div class="block__logo" data-index='0'>
      <div class="logo__item knifeLogo">
        <a href="https://knf.md/knife-media-tarot/" target="_blank">
          <img src="img/logos/knife.svg" width="49.78px" height="21.09px">
        </a>
      </div>
    </div>
    <div class="block__separator">
      <div class="separator__item">
        <img src="img/logos/separator.svg" alt="placeholder+image" width="14.75px" height="14.75px">
      </div>
    </div>
    <div class="block__logo" data-index='1'>
      <div class="logo__item samokatLogo">
        <a href="https://vml8.adj.st/main?adj_t=7qccm4l" target="_blank">
          <img src="img/logos/samokat.svg" width="104.63px" height="15.19px">
        </a>
      </div>
    </div>
    <div class="block__separator">
      <div class="separator__item">
        <img src="img/logos/separator.svg" alt="placeholder+image" width="14.75px" height="14.75px">
      </div>
    </div>
    <div class="block__logo" data-index='2'>
      <div class="logo__item tigerLogo">
        <a href="https://knf.md/tigers-family-tarot/" target="_blank">
          <img src="img/logos/tigers.png" width="64.13px" height="27px">
        </a>
      </div>
    </div>
  </div>
</div>
